In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [2]:
con = sqlite3.connect('data/trade_info.sqlite3')

In [3]:
trading_session = pd.read_sql('SELECT * FROM Trading_session', con)
chart_data = pd.read_sql('SELECT * FROM Chart_data', con)

In [4]:
trading_session

      id        date trading_type  platform_id
0     11  2019-10-04        daily            1
1     12  2019-10-03        daily            2
2     13  2019-10-01        daily            2
3     14  2019-10-15      monthly            1
4     15  2019-10-15      monthly            2
..   ...         ...          ...          ...
260  275  2021-06-22        daily            1
261  276  2021-06-22        daily            2
262  277  2021-06-23      monthly            1
263  278  2021-06-23      monthly            2
264  279  2021-06-24        daily            1

[265 rows x 4 columns]

In [5]:
chart_data

        id      time  lot_size  session_id  deal_id     price
0        0  11:34:47         2          12        0 -0.235500
1        1  11:32:37         2          13        1 -0.235500
2        2  11:52:45        13          13        2 -0.303677
3        3  11:53:07        25          13        3 -0.303677
4        4  12:00:43       124          13        4 -0.364279
...    ...       ...       ...         ...      ...       ...
5503  5503  12:59:21        15         278     4611  1.946171
5504  5504  11:01:06       179         279     4612  1.128045
5505  5505  11:01:06       300         279     4613  1.128045
5506  5506  11:01:06        20         279     4614  1.128045
5507  5507  11:01:06         1         279     4615  1.128045

[5508 rows x 6 columns]

# Visualization